/* this is for the navbar  */

#topnav {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  background-color: Black;

  font-family: Arial, sans-serif;
  font-size: 15px;
}

.nav-link {
  display: inline-block;
  width: 100px;
  height: 55px;

  color: White;

  /* centering text */
  text-align: center; /* horizontally */
  line-height: 55px; /* vertically */

  text-decoration: none;
}

#logo {
  width: 120px;

  background-color: RoyalBlue;

  font-weight: bold;
}

#about {
  position: absolute;
  top: 0;
  right: 0;
}
